<!--
  Generated template for the IndexPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-grid>
    <ion-row>
      <ion-col col-2>
        <button ion-button clear color="dark">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-8>
        <ion-searchbar placeholder="搜你想要"></ion-searchbar>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear color="dark">
          <ion-icon name="chatboxes"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>


<ion-content padding>
  <ion-slides style="height:85px;" autoplay="3000" loop="true" pager="true" *ngIf="carouselList.length>0">
    <ion-slide *ngFor="let tmp of carouselList">
      <img [src]="'assets/'+tmp.src" alt="">
    </ion-slide>
  </ion-slides>

  <h4>热卖推荐</h4>
  <ion-scroll scrollX *ngIf="hotList.length>0" style="height:360px;white-space:nowrap;">
    <ion-item *ngFor="let tmp of hotList" style="display:inline-block;" [navPush]="detail" [navParams]="{fid:tmp.fid,plid:tmp.plid,gfid:tmp.gfid}">
      <ion-card >
        <img [src]="'assets/'+tmp.g_pic" alt="">
        <ion-card-content style="text-align:center">
          {{tmp&&tmp.title.slice(0,15)+'...'}}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-scroll>

  <h4>商品分类</h4>
  <ion-scroll scrollX style="height:130px;white-space:nowrap;">
    <div style="display:inline-block;margin-left:10px;margin-right:10px;" *ngFor="let tmp of productFamily" [navPush]="productBlock" [navParams]="{fid:tmp.fid}">
      <img [src]="'assets/'+tmp.f_ico" alt="">
      <p>{{tmp.fname}}</p>
    </div>
  </ion-scroll>
  <!-- <product-block></product-block> -->
 <ion-fab bottom right>
   <button ion-fab color="light">
     <ion-icon name="list"></ion-icon>
   </button>
   <ion-fab-list side="top">
     <button ion-fab *ngFor="let tmp of productFamily">
       <img [src]="'assets/'+tmp.f_ico" alt="">
     </button>
   </ion-fab-list>
 </ion-fab>


</ion-content>